* {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container {
    height: 5000px;
    background-color: #006be6;
    width: 35%;
    z-index: 0;
}

.sticky {
    position: absolute;
    background-color: rgb(255, 2, 2);
    width: 200px;
    height: 200px;
    z-index: 1;
    left: 100px;
    top: 100px;
}

.fixed-sticky .sticky {
    position: fixed;
    top: 10px;
}