section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 102, 97);
}

.container {
    width: 80%;
    height: 30%;
    background-color: rgb(211, 207, 207);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-right: 60px;
}

ol {
    list-style: none !important;
    counter-reset: li;
}

li {
    margin-bottom: 15px;
    font-size: 1.3em;
    counter-increment: li;
}

li::before {
    content: counter(li);
    color: white;
    display: inline-block;
    width: 1.3em;
    margin-left: 3em;
    left: -3em;
    background-color: rgb(1, 77, 165);
    border-radius: 50%
}

.right-part {
    width: 50%
}

.hidden {
    display: none !important;
}

input {
    font-size: 1em;
    padding: 3px;
    width: 100%;
}

.btn {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    width: auto;
    font-weight: 550;
}